@import "variables";

// Definición de variables para colores
// $azul-galan: #CADDE8;
// $azul-hippie: #5496BF;
// $gris-overlay: #00000099;
// $azul-recordar: #3F51B5;
// $gris-texto: #333;

// Estilos principales
.principal {
  margin: 4em;

  // Estilos específicos para secciones dentro de .principal
  .acceso,
  .historial,
  .formulario {
    flex-basis: 100%;
    background-color: $azul-galan;
    border-radius: 1em;
    margin-bottom: 1em;
    padding: 2em;

    // Modificación para .historial
    &.historial {
      width: 80%;
      height: 20em;
      overflow: hidden;
    }
  }

  // Estilos para botones dentro de formulario
  .formulario {
    .btn-primary {
      background-color: $azul-hippie;
      border-color: $azul-galan;
    }
  }

  // Estilos para el perfil y el texto
  .perfil {
    display: flex;
  }

  .texto {
    position: sticky;
    padding: 2em;
  }

  // Estilos para la cabeza y la imagen de perfil
  .cabeza {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
    margin: 1em 0;
    padding: 2em;

    img {
      width: 200px;
      height: 200px;
      display: block;
      border-radius: 50%;
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
        opacity: 0.8;
      }
    }

    // Estilos para el overlay y su texto
    .overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 200px;
      height: 200px;
      opacity: 0;
      border-radius: 50%;
      background-color: $gris-overlay;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      transition: opacity 0.3s ease-in-out;

      span {
        color: white;
        font-size: 14px;
      }

      // Cambio de opacidad al pasar el cursor
      .cabeza:hover & {
        opacity: 1;
      }
    }
  }

  // Estilos para la sección historialPrincipal
  .historialPrincipal {
    max-height: calc(100% - 9em);
    overflow: auto;
  }
}

// Estilos para contenedores de entrada y texto
.input-group {
  margin-bottom: 15px;

  label {
    display: inline-block;
    margin-right: 10px;
    color: $azul-recordar; // Color para la etiqueta "Recordar"
  }
}

ul {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 10px;
  }
}

.date {
  font-weight: bold;
  color: $azul-recordar;
}

.item {
  color: $gris-texto;
}
