@import "variables";

.principal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 4em;
  margin-left: 4em;
  margin-right: 4em;
  margin-top: 4em;
}

.reseñas {
  text-align: center;
  justify-content: center;
  align-items: center;

  .video {
    border-radius: 10px;
    margin: 10px;
    width: 25%;
    height: 20em;
    margin-left: 2em;
  }
}

.informacion {
  flex-basis: 100%;
  background-color: $azul-galan;
  border-radius: 1em;
  margin-bottom: 1em;
  padding: 2em;
}

.cards {
  flex-basis: 100%;
  border-radius: 1em;
  margin-bottom: 1em;
  padding: 2em;
  background-color: $azul-galan;
  overflow: auto;
  height: 20em;
}

.card {
  margin-bottom: 2em;
}