@import 'variables';
@import 'mediaQuery';

// Definición de colores
// $azul-galan: #CADDE8;
// $azul-hippie: #5496BF;
// $azul-grisaceo: #465573;

.principal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4em 5em;

  .card1 {
    flex-basis: 100%;
    background-color: $azul-galan;
    border-radius: 1em;
    margin-bottom: 1em;
    padding: 2em;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1); // Aumenta la escala al pasar el cursor
    }
  }

  .card2,
  .card3 {
    flex-basis: 33%;
    background-color: $azul-galan;
    border-radius: 1em;
    margin-bottom: 1em;
    padding: 3.5em;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1); // Aumenta la escala al pasar el cursor
    }
  }

  .fotito {
    flex-basis: 33%;
    transition: transform 0.3s ease-in-out;
    max-width: 100%;
    height: 25em;
    display: block;
    margin: 0 auto;

    &:hover {
      transform: scale(1.1); // Aumenta la escala al pasar el cursor
    }
  }
}

/* Estilos para la sección del formulario */
.formulario {
  padding: 20px;
  background-color: $azul-galan;
  border-radius: 1em;
  flex-basis: 100%;

  h3 {
    color: $azul-grisaceo;
    margin-bottom: 20px;
  }

  .input-group {
    margin-bottom: 15px;

    .input-group-text {
      background-color: $azul-hippie;
      color: #fff;
    }
  }

  .btn-primary {
    background-color: $azul-hippie;
    border-color: $azul-galan;
  }
}

// Medias queries para adaptabilidad
@media screen and (max-width: 840px) {
  .card2 {
    flex-basis: 100%;
  }
}
